<html lang="en">
<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>KajisCoop</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
    <header>
        <p>My study</p>
        <nav>
            <ul>
              <li>
                <a href="kanjis/add">add kanji</a>

              </li>
              <li>
                <a href="kanjis/list">ver kanjis</a>

              </li>
            </ul>
        </nav>
    </header>